<div id="mainContainer">
    <div id="topHeader">
        <p class="header">How to Play</p>
        <button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
    </div>
    <p>Guess the Wordie in 6 tries </p>
    <p>Each guess must be a valid 6 letter word. Use the checkmark button or enter key to submit.</p>
    <p>After a guess, the tiles will change color to show how accurate your guess was.</p>

    <p class="header">Examples</p>

    <div class="tileRow">
        <div class="tile">A</div>
        <div class="tile CORRECT">G</div>
        <div class="tile">E</div>
        <div class="tile">N</div>
        <div class="tile">D</div>
        <div class="tile">A</div>
    </div>
    <p>The letter G is in the correct spot and is in the word.</p>

    <div class="tileRow">
        <div class="tile">H</div>
        <div class="tile">A</div>
        <div class="tile">G</div>
        <div class="tile">G</div>
        <div class="tile WRONG_POSITION">L</div>
        <div class="tile">E</div>
    </div>
    <p>The letter L is in the word, but is in the wrong spot.</p>

    <div class="tileRow">
        <div class="tile">I</div>
        <div class="tile">M</div>
        <div class="tile INCORRECT">P</div>
        <div class="tile">A</div>
        <div class="tile">C</div>
        <div class="tile">T</div>
    </div>
    <p>The letter P is not in the word at any spot.</p>


</div>